body {
  text-align: center;
  color: darkslategray;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

.home-page__section {
  width: 40%;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  margin-top: 5rem;
  background-color: #fff;
}

.article-container {
  width: 40%;
  display: inline-block;
  margin: 2%;
  vertical-align: top;
  background-color: white;
  padding: 1rem;
}

.home-page__section img {
  max-width: 100%;
}

.animation-container {
  width: 40%;
  display: inline-block;
  padding: 1rem;
  margin: 2%;
  vertical-align: top;
  background-color: white;
}

.animation-container img {
  max-width: 100%;
}

